.full-window {
    display: flex;
    flex-direction: column;
    background-color: silver;
    width: 100vh;
    min-height: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// .site-content {
//      flex: 1;
// }

.hamburger-icon-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
}

$color-black-50-opacity: #00000080;

::ng-deep .menu-area {
    background-color: white;
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    border: #ccc 0.5px solid;
}

.secondp {
    flex: 1 !important;
    padding: 10px;
    align-items: center;
    color: rgba(0, 0, 0, 0.87) !important;
}

.secondp:hover {
    z-index: 1;
    color: blue !important;
    cursor: pointer;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.hamburger-icon {
    border-radius: 50%;
    background-color: $color-black-50-opacity;
    color: white;
    padding: 0.4rem;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

.menu-bar {
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
    background-color: $color-black-50-opacity;
}

.each-button {
    display: flex;
    width: 50px;
    cursor: pointer;
    flex-flow: column nowrap;
    font-size: 0.5rem;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: $color-black-50-opacity;
    border-radius: 0px;
}

.button-icon {
   color: white;
}

.text-para {
    text-align: center;
    color: white;
}

.drag-drop-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .drag-drop-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .drag-drop-boundary {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .text-inside-drag-drop {
      flex: 1;
  }

  .drag-drop-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .close-icon-widget {
    cursor: pointer;
  }

  .random-name {
      font-weight: bold;
  }

  .group-limit-select-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-flow: nowrap;
      

      mat-form-field {
          display: block;
        //   width: 60px;

          input {
              width: 100%;
          }
      }
  }