.full-window {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: silver;
    width: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.site-content {
    flex: 1;
}

.hamburger-icon-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
}

$color-black-50-opacity: #00000080;

.hamburger-icon {
    border-radius: 50%;
    background-color: $color-black-50-opacity;
    color: white;
    padding: 0.4rem;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

.menu-bar {
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
    background-color: $color-black-50-opacity;
}

.each-button {
    display: flex;
    width: 50px;
    flex-flow: column nowrap;
    font-size: 0.5rem;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: $color-black-50-opacity;
    border-radius: 0px;
}

.button-icon {
   color: white;
}

.text-para {
    text-align: center;
    color: white;
}