<div class="container-fluid full-window img-fluid w-100" [style.backgroundImage]="'url('+backgroundUrl+')'">
  <div class="site-content">
    <div class="hamburger-icon-container">
      <i class="material-icons hamburger-icon">menu</i>
    </div>
  </div>

  <div class="menu-container mb-3">
    <div class="card menu-bar mx-auto">
      <div class="card each-button" mat-button (click)="openDialog()">
        <div class="button-icon card-img-top">
          <i class="material-icons">wallpaper</i>
        </div>
        <div class="button-text">
          <p class="text-para my-1">Wallpaper</p>
        </div>
      </div>
      <div class="card each-button">
        <div class="button-icon card-img-top">
          <i class="material-icons">wallpaper</i>
        </div>
        <div class="button-text">
          <p class="text-para my-1">Wallpaper</p>
        </div>
      </div>
      <div class="card each-button">
        <div class="button-icon card-img-top">
          <i class="material-icons">wallpaper</i>
        </div>
        <div class="button-text">
          <p class="text-para my-1">Wallpaper</p>
        </div>
      </div>
      <div class="card each-button">
        <div class="button-icon card-img-top">
          <i class="material-icons">wallpaper</i>
        </div>
        <div class="button-text">
          <p class="text-para my-1">Wallpaper</p>
        </div>
      </div>
    </div>
  </div>

</div>