<div class="register-form">
    <mat-card class="mt-5">
        <mat-card-header>
            <h2>Register</h2>
        </mat-card-header>
        <mat-card-content>
            <form action="" method="POST">
                <label class="form-group">
                    First Name<br>
                    <input type="text" class="form-control" [(ngModel)]='firstname'
                    name="firstname" id="firstname">
                </label>
                <label class="form-group">
                    Last Name<br>
                    <input type="text" class="form-control" [(ngModel)]="lastname"
                     name="lastname" id="lastname">
                </label>
                <label class="form-group">
                    Email<br>
                    <input type="email" class="form-control" [(ngModel)]="email"
                     name="email" id="email">
                </label>
                <label class="form-group">
                    Password<br>
                    <input type="password" class="form-control" [(ngModel)]="password"
                    name="password" id="password">
                </label>
                <label class="form-group">
                    Confirm Password<br>
                    <input type="password" class="form-control" [(ngModel)]="confirmpassword"
                     name="confirmpassword" id="confirmpassword">
                </label>
                <label class="form-group error-message">{{ errorMessage }}</label>
                <input (click)="register()" type="button" class="button btn" value="Register">
            </form>
        </mat-card-content>
    </mat-card>
</div>
